<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Registration Form</title>
    <style>
        .error{color: red}
    </style>
</head>
<body>
<i>
    Fields with asterisk (*) are required.
</i>

<form th:action="@{/processForm}"
      th:object="${customer}"
      th:method="POST">
    First name: <label>
    <input type="text" th:field="*{firstName}">
</label>
    <br><br>
    Last name: <label>
    <input type="text" th:field="*{lastName}">
</label>
    <span th:if="${#fields.hasErrors('lastName')}"
          th:errors="*{lastName}"
          th:errorclass="error"></span>

    <input type="submit" value="Submit">

</form>

</body>
</html>